* {
  zoom: 100%;
  padding: 0px;
  margin: 0px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;

}

.EVM {
  position: relative;
  width: 78px;
  height: 72px;
  margin-left: 90px;
  margin-top: 9px;
  color: black;
  font-size: 64px;
  font-family: Jolly Lodger;
  font-weight: 400;
  word-wrap: break-word;
}

.link-map {
  position: absolute;
  width: 267px;
  height: 24px;
  margin-left: 580px;
  margin-top: -46px;
  color: black;
  font-size: 24px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
  text-decoration: none;
}

.buttons-vhod-vihod {
  width: 107.31px;
  height: 37.64px;
  left: 1162.25px;
  top: 136.46px;
  position: relative;
}

.button_glav_vhod {
  position: relative;
  top: -100px;
  border: 2px solid #000;
  border-radius: 5px;
  width: 127px;
  height: 45px;
  font-family: var(--font7);
  font-weight: 700;
  font-size: 24px;
  color: #000;
  background-color: transparent;
}

.fullname {
  position: relative;
  margin-right: 90px;
  left: auto;
  top: -105px;
  border: 2px solid transparent;
  border-radius: 5px;
  width: max-content;
  height: 45px;
  font-family: var(--font7);
  font-weight: 700;
  font-size: 18px;
  color: #000;
  background-color: transparent;
}

.button_glav_reg {
  position: relative;
  top: -145px;
  left: 135px;
  width: 80px;
  height: 45px;
  font-family: var(--font7);
  font-weight: 700;
  font-size: 24px;
  border: 2px solid #000;
  border-radius: 5px;
  color: #000;
  background-color: transparent;
}

.button_glav_exit {
  position: relative;
  left: 183px;
  top: -152px;
  width: 90px;
  height: 44px;
  font-family: var(--font7);
  font-weight: 700;
  font-size: 24px;
  border: 2px solid #000;
  border-radius: 5px;
  color: #000;
  background-color: transparent;
}

.Vsadnic {
  position: relative;
  display: flex;
  width: 657px;
  height: 702px;
  right: 300px;
  /* margin-left: -125px; */
  margin-top: -90px;
}

.sin-pattern {
  position: relative;
  width: 685px;
  height: 720px;
  /* left: -384px; */
  right: 300px;
  top: -894px;
  z-index: -1;
}

.predzag {
  width: 461.86px;
  height: 28.23px;
  left: 131.09px;
  top: 118.26px;
  position: relative;
  color: #5166DF;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 700;
  text-transform: uppercase;
  word-wrap: break-word;
}

.zag1 {
  width: 688px;
  height: 251px;
  left: -1040px;
  top: -1331px;
  position: relative;
  color: #181E4B;
  word-wrap: break-word;
  font-family: Poppins;
  font-weight: 700;
  font-size: 84px;
  line-height: 106%;
  letter-spacing: -0.04em;
  color: #181e4b;
}

.zag2 {
  width: 500px;
  height: 168px;
  margin-left: 128px;
  margin-top: 425px;
  position: relative;
  color: #5E6282;
  font-size: 18px;
  font-family: Poppins;
  font-weight: 500;
  line-height: 30px;
  word-wrap: break-word;
  z-index: 10;
}

.zag2-1 {
  left: 0%;
  top: 255px;
  position: relative;
  text-align: center;
  color: #14183E;
  font-size: 50px;
  font-family: Vollkorn;
  font-weight: 700;
  text-transform: capitalize;
  word-wrap: break-word;
}

.poisk {
  position: relative;
  width: 181px;
  height: 227px;
  left: -663px;
  top: 123px;
}

.prosmotr {
  width: 427px;
  height: 523px;
  left: 10px;
  top: 348px;
  position: relative;
}

.sozdanie {
  position: relative;
  width: 181px;
  height: 227px;
  left: 860px;
  top: 129px;
  z-index: 10;
}

.reyting {
  width: 181px;
  height: 249px;
  left: 992px;
  top: 133px;
  position: relative;
}

.plus-blok {
  width: 153px;
  height: 166px;
  left: 1320px;
  /* right: 0px; */
  top: -328px;
  position: relative;
}

.plus-red {
  left: 0px;
  top: 0px;
  position: absolute;
  color: #FF7152;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.plus-blue {
  left: 70px;
  top: 70px;
  position: absolute;
  color: #6246E5;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.plus-white1 {
  left: 0px;
  top: 35px;
  position: absolute;
  color: #E5E5E5;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.plus-white2 {
  left: 0px;
  top: 70px;
  position: absolute;
  color: #E5E5E5;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.plus-white3 {
  left: 35px;
  top: 0px;
  position: absolute;
  color: #E5E5E5;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.plus-white4 {
  left: 35px;
  top: 35px;
  position: absolute;
  color: #E5E5E5;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.plus-white5 {
  left: 35px;
  top: 70px;
  position: absolute;
  color: #E5E5E5;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.plus-white6 {
  left: 35px;
  top: 105px;
  position: absolute;
  color: #E5E5E5;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.plus-white7 {
  left: 70px;
  top: 0px;
  position: absolute;
  color: #E5E5E5;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.plus-white8 {
  left: 70px;
  top: 35px;
  position: absolute;
  color: #E5E5E5;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.plus-white9 {
  left: 70px;
  top: 105px;
  position: absolute;
  color: #E5E5E5;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.plus-white10 {
  left: 70px;
  top: 140px;
  position: absolute;
  color: #E5E5E5;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.plus-white11 {
  left: 105px;
  top: 0px;
  position: absolute;
  color: #E5E5E5;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.plus-white12 {
  left: 105px;
  top: 35px;
  position: absolute;
  color: #E5E5E5;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.plus-white13 {
  left: 105px;
  top: 70px;
  position: absolute;
  color: #E5E5E5;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.plus-white14 {
  left: 105px;
  top: 105px;
  position: absolute;
  color: #E5E5E5;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.plus-white15 {
  left: 105px;
  top: 140px;
  position: absolute;
  color: #E5E5E5;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.plus-white16 {
  left: 140px;
  top: 0px;
  position: absolute;
  color: #E5E5E5;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.plus-white17 {
  left: 140px;
  top: 35px;
  position: absolute;
  color: #E5E5E5;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.plus-white18 {
  left: 140px;
  top: 70px;
  position: absolute;
  color: #E5E5E5;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.plus-white19 {
  left: 140px;
  top: 105px;
  position: absolute;
  color: #E5E5E5;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.plus-white20 {
  left: 140px;
  top: 140px;
  position: absolute;
  color: #E5E5E5;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word;
}

.blok3 {
  top: 120px;
  left: -8px;
  width: 101%;
  height: 810px;
  position: relative;
  background: #F1F1F1;
  margin-bottom: -10px;
}

.zag-blok3 {
  width: 892px;
  height: 60.94px;
  left: 274px;
  top: 33.66px;
  position: relative;
  color: black;
  font-size: 48px;
  font-family: Vollkorn;
  font-weight: 700;
  word-wrap: break-word;
  text-align: center;
}

.map {
  width: 870px;
  height: 545px;
  margin-top: 60px;
  margin-left: 50px;
  border-radius: 20px;
}

.btn-save-route {
  width: 300px;
  color: black;
  font-size: 24px;
  font-family: Vollkorn;
  font-weight: 700;
  word-wrap: break-word;
  height: 66.40px;
  left: 140px;
  top: 20px;
  position: relative;
  background: #DAF2FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.btn-add-route {
  width: 300px;
  height: 66.40px;
  left: 190px;
  top: 20px;
  position: relative;
  background: #FFF1DA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: black;
  font-size: 24px;
  font-family: Vollkorn;
  font-weight: 700;
  word-wrap: break-word;
}

.loginii {
  border: 3px solid #8bd6ff;
  border-radius: 20px;
  width: 407px;
  height: 624px;
  margin-left: 971px;
  margin-top: -616px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.zag-loginii {
  margin-top: 5px;
  margin-left: 10px;
  font-family: var(--font6);
  font-weight: 700;
  font-size: 24px;
  color: #000;
}

.login_all {
  width: 100%;
  height: 110px;
  /* top: -15px; */
  margin-left: 25px;
  margin-top: -90px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.avatar {
  width: 100px;
  height: 100px;
  margin-top: 10px;
}

.class-users-avatar {
  width: 100px;
  height: 100px;
}



.pole_login {
  margin-bottom: 20px;
}

.file-input-container {
  overflow: hidden;
  position: relative;
}

.file-input-label {
  background: #f0f0f0;
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
}

.file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.custom-file-input {
  position: relative;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-color: transparent;
  border-bottom: 5px;
}

.file-input {
  opacity: 0;
  /* Скрыть сам input */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.file-upload-btn {
  z-index: 1;
  position: relative;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 5px;
  width: 117px;
  height: 21px;
  font-family: var(--font7);
  font-weight: 700;
  font-size: 14px;
  color: #000;
  background-color: transparent;
}

.file-input:hover {
  border-color: #0071f0;
  /* Цвет рамки при наведении */
}

.button_vhod {
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #0071f0;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  margin-top: 10px;
  /* Отступ между кнопками */
}

.button_vhod:hover {
  background-color: rgba(0, 113, 240, 0.7);
  /* Цвет кнопки при наведении */
}

#exist_route{
  border-radius: 10px;
  padding: 20px;
  width: 70%;
  max-width: 530px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: fixed;          /* Фиксируем положение окна */
  top: 50%;                 /* Смещаем сверху на 50% */
  left: 50%;                /* Смещаем слева на 50% */
  transform: translate(-50%, -50%); /* Сдвигаем на 50% вверх и влево, чтобы центрировать */
  z-index: 9999;  
}

#info_route{
  align-self: center;
  justify-self: center;
  border: 0;
    border-radius: 10px;
    padding: 15px;
    width: 30%;
    height: 666px;
}

.info_modal-window{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#zag_mar{
  display: block;
  width: 100%;
  text-align: center;
}

.div_stroka{
  display: flex;
      gap: 20px;
}

.pozagolovok{
  font-weight: 600;
  font-size: 24px;
}

.podtext{
  font-size: 24px;
}
.btn{
  outline: none;
  background-color: white;
  font-size: 24px;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px 30px 10px 30px;
}

.btn3{
  outline: none;
  background-color: white;
  font-size: 24px;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px 30px 10px 30px;
  margin-top: 20px;
}

#comment_route{
  align-self: center;
  justify-self: center;
  border: 0;
    border-radius: 10px;
    padding: 15px;
    width: 30%;
    height: 666px;
}

#zagolovok_comments{
  display: flex;
  justify-content: center;
  align-items: center;
}

#close_comment{
  border: none;
  background-color: transparent;
}

.comments{
  display: flex;
      justify-content: space-around;
      align-items: center;
}

#set_comments:hover{
  cursor: pointer;
}